<%- include('partials/header') %>

<div id="all-jobs" class="container mt-3 py-5">
  <h2 class="ms-3">Search Form</h2>

  <form action="/all-jobs" method="post" class="row gy-2 gx-3 mt-3 ms-2">
    <div class="col-6">
      <label for="status">Status</label>
      <select class="form-select" name="status" id="status"></select>
    </div>
  </form>
</div>
